body {
    background-color: rgb(24, 27, 28);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    
  }
  
body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}



  .title {
    color: mintcream;
    text-transform: uppercase;
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 2.5em;
    letter-spacing: 0.3em;
    text-shadow: -3px 3px rgb(6, 127, 136);
    /* border: 10px solid #fc6bb3; */
    padding: 20px;
    border-radius: 10px;
    
  }
  
  .keyboard {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
  }
  
  .row {
    list-style: none;
    display: flex;
  }
  
  li {
    height: 4em;
    width: 4em;
    border-radius: 0.4em;
    line-height: 3em;
    letter-spacing: 1px;
    margin: 0.4em;
    transition: 0.3s;
    text-align: center;
    font-size: 1em;
  }
  
  #tab {
    width: 5em;
  }
  
  #caps {
    width: 6em;
  }
  
  #left-shift {
    width: 8em;
  }
  
  #enter {
    width: 8em;
  }
  
  #right-shift {
    width: 11em;
  }
  
  #back {
    width: 5em;
  }
  
  .pinky { 
    /* border: 3px solid rgb(214, 130, 247); */
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #e8bff8 0%, #a171fb 74%);
  }

  
  .pinky.selected {
    color: rgb(255, 218, 172);
    background-image: linear-gradient(315deg, #1c181a 0%, #22201e 74%);
    box-shadow: 0 0 10px rgb(232, 239, 151);
    border: 3px solid rgb(214, 130, 247);
  }
  
  .ring { 
    
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #ED7B84 0%, #dd4cfa 100%);
  }
  .ring.selected {
    color: rgb(255, 218, 172);
    background-image: linear-gradient(315deg, #1c181a 0%, #22201e 74%);
    box-shadow: 0 0 10px rgb(232, 239, 151);
    border: 3px solid rgb(255, 103, 245);
  }
  
  .middle { 
    
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #ea86fc 0%, #f69c5b 74%);
  }
  .middle.selected {
    color: rgb(255, 218, 172);
    background-image: linear-gradient(315deg, #1c181a 0%, #22201e 74%);
    box-shadow: 0 0 10px rgb(232, 239, 151);
    border: 3px solid darkorange;
  }
  
  .pointer1st { 
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #737DFE 0%, #ffcac9 74%);
  }
  .pointer1st.selected {
    color: rgb(255, 218, 172);
    background-image: linear-gradient(315deg, #1c181a 0%, #22201e 74%);
    box-shadow: 0 0 10px rgb(232, 239, 151);
    border: 3px solid rgb(241, 195, 246);
  }
  
  .pointer2nd { 
    
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #d884f4 0%, #94ecf2 74%);
  }
  .pointer2nd.selected {
    color: rgb(255, 218, 172);
    background-image: linear-gradient(315deg, #1c181a 0%, #22201e 74%);
    box-shadow: 0 0 10px rgb(232, 239, 151);
    border: 3px solid rgb(193, 248, 252);
  }
  
  .fill-out-key {
    background-color: slategrey;
    border: 2px solid slategrey;
  }
  
  .selected {
    background-color: transparent;
        -webkit-animation: vibrate-1 0.3s linear infinite both;
              animation: vibrate-1 0.3s linear infinite both;
  }
  
  /* ----------------------------------------------
   * Generated by Animista
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  .hit {
      -webkit-animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
  @-webkit-keyframes hit {
    0% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes hit {
    0% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }